

<body>



  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
      <div class="container py-5">
          <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                  <h1 class="display-3 text-white animated slideInDown">About Us</h1>

              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t39.30808-6/305658808_395031106119290_4804636885049390113_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=EmR9pN2F8gQQ7kNvgGLoB5_&_nc_ht=scontent.fnbe1-2.fna&oh=00_AYDKwT3vafIY6821174dfIacm5_KVO0JuGrNrM9NUT6Zdw&oe=664F0EA9" 
                    alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">À PROPOS DE NOUS
                </h6>
                <h1 class="mb-4">Bienvenu to Tunisian Training School</h1>
                <p class="mb-4">
                    Chez Tunisian Training School, nous nous engageons à offrir une formation de qualité grâce à nos 
                    instructeurs qualifiés et polyvalents, qui possèdent une riche expérience en tant que formateurs
                     dans leurs domaines respectifs. Nos cours accélérés permettent aux apprenants de se former rapidement 
                     et efficacement dans des domaines spécifiques. Nous privilégions l'apprentissage par projet, une méthode 
                     où les apprenants réalisent des projets pratiques, individuellement ou en équipe, sous la supervision 
                     attentive de nos enseignants. De plus, notre espace d'apprentissage propose une large diversité de cours, 
                     répondant ainsi aux besoins variés de nos étudiants.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Instructeurs qualifiés</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cours accélérés</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Apprentissage par projet
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Apprentissage par projet
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
  <!-- About End -->





  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


</body>


