<div class="main-content">
<div class="modules-container">
    <div *ngFor="let module of modules" class="module-card">
    <div class="course-item bg-light"  >

            <div class="position-relative overflow-hidden">
                <img class="img-fluid module-image" [src]="module.formations.image" alt="">
                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4" >
                    <a  class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;" (click)="openCheckabsences(module._id)">Absence</a>
                    <a    class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;"(click)="openCheckNotes(module._id)">Notes</a>
                </div>
            </div>
                <h3 class="mb-0">{{module.nomModule}}</h3>
                <div class="mb-3">
                    <!-- star ratings -->
                </div>
                <h5 class="mb-4">{{module.formations.nomformation}}</h5>
            </div>
            <div class="d-flex border-top">
                <!-- card footer -->
            </div>
        </div>
    </div>
</div>
  <app-sidebar></app-sidebar>
